{% extends "base.html" %}

{% block head_content %}
    <title>Platzigram</title>
{% endblock%}

{% block container %}
    <div class="container">
        <div class="row">

            {% for post in posts %}
                {# showing everypost using the postcard template#}
                {% include 'posts/postcard.html' %}
            {% endfor %}
            
        </div>
    </div>

    {# adding pagintation fro multiple pages of posts#}
    {% include 'pagination.html' %}

{% endblock %}