{% extends 'users/base.html' %}

{% block head_content %}
<title>Platzigram | Sign In</title>
{% endblock %}

{% block container %}

    {% if error %}
        <p class="alert alert-danger">{{error}}</p>
    {% endif %}
    <h1 style="text-align: center;">Sign In</h1>

    <form action="{% url "login" %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" value="{{retry_username}}">
        </div>
        
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password">
        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit">Sign in! </button>
    </form>
{% endblock %}