{% extends 'base.html' %}


{% block head_content %}
    <title>@{{request.user.username}} | followers </title>
{% endblock head_content %}


{% block container %}
    <div class="container">
        <div class="row">
                <hr>
            </div>
            {% for follower in following_list %}
            <div class="col-sm-12 col-md-8 offset-md-2 p-0 post-container">

                {# profile profile_picture and name #}
                <div class="media pt-3 pl-3 pb-1">
                    <a href="{% url 'users:detail' follower.user.username %}">
                        <img class="mr-3 rounded-circle" height="35" src="{{ follower.user.profile.profile_picture.url }}" alt="{{ follower.user.username }}">
                    </a>
                    
                    <div class="media-body">
                        <p style="margin-top: 5px;">{{ follower.user.get_full_name  }}</p>
                    </div>
            
                </div>
                
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock container %}
    